{% extends 'working/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{%block home-section%}

<div class="container mt-3 mb-5" style="width: 90%; font-size: 14px;">

<form method="POST" class="card p-3 mt-5 needs-validation" novalidate>
	<h1 style="color:#342a4e; text-align:center">{{title}}</h1>
    <hr>

    {% csrf_token %}
    {{form|crispy}}
    

    

    
    <input class="submit_btn" type="submit" style="border:none;"class="btn btn-primary mb-2 btn-grad" name="submit" , value='Submit'>
</form> 
</div>

{%endblock%}