{% extends 'working/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{%block home-section%}
<!-- <h1 style="color:#342a4e; text-align:center">Admission Form</h1>    -->

<div class="container mt-3 mb-5" style="width: 90%; font-size: 14px;">

<form method="POST" class="card p-3 mt-5 needs-validation" novalidate>
    
    <h1 style="color:#342a4e; text-align:center">Admission Form</h1>   

    <hr>
		
    {% csrf_token %}
    {{ form|crispy }}         
    <input class="submit_btn" type="submit" style="border:none;"class="btn btn-primary mb-2 btn-grad" name="submit" , value='Submit'>
</form> 

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '100%',
        display_selected_options: true
      });
    });
  </script>

{%endblock%}